/* 초기화 */
section {
    width: 410px;
    background-color: yellow;
}
a {
    text-decoration: none;
}
h2 {
    margin: 10px 0 10px 0;
}
p {
    margin: 0;
}
hr {
    border: 1px solid lightgray;
    opacity: 0.5;
}

/* h3 */
.sub__header {
    font-size: 16px;
}

/* ------------------------------- */

/* summary */
.summary {
    margin-bottom: 40px;
}
.summary .new {
    color: brown;
}
.summary .main__header {
    font-size: 40px;
}
.summary .summary__small {
    font-size: 12px;
    margin: 10px 0;
}
.summary .know {
    display: block;
    margin: 10px 0;
}

/* model select */
.select__model--text {
    font-weight: bold;
}
.small__link {
    display: block;
    font-size: 12px;
    margin: 15px 0;
}
.select__model--detail .select__model--box {
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    width: 100%;
    display: flex;
    text-align: left;
    padding: 20px 10px;
    margin: 10px 0;
}

.select__model--detail .select__model--box .left {
    width: 50%;
}
.select__model--detail .select__model--box .left h3{
    margin: 0;
}
.select__model--detail .select__model--box .right {
    width: 50%;
    align-self: center;
    text-align: right;
}
.select__model--detail .select__model--box .price {
    font-size: 18px;
}

/* 박스 */
.select__model--color {
    /* display: flex; */
    /* justify-content: space-between;
    align-content: space-around;
    row-gap: 10px;
    column-gap: 20px; */
}
.content__box {
    width: 49%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100px;
}
.circle__color {
    width:30px;
    height: 30px;
    background-color: gray;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* 추가 정보 */
