.section__more {
  width: 990px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.card {
  width: 485px;
  height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #0d3139;
}
.card__info {
  padding: 80px 54px 20px;
  color: #fff;
  font-size: 24px;
  word-break: keep-all;
}
.card__info .light-green {
  color: #b8ff68;
}

.section__visual {
  width: 100%;
  max-width: 980px;
  height: 100%;
  background: beige;
  display: flex;
  margin: 0 auto;
}
.visual__image {
  flex-basis: 50%;
  max-width: 50%;
  height: 100%;
  position: sticky;
  top: 0;
  background: tomato;
  text-align: center;
}

.services {
  padding: 40px 0 0;
  display: flex;
  /* width: 100%; */
  width: 490px;
}

.service {
  flex-basis: 50%;
  flex: 1;
  text-align: center;
  margin: 14px 0 26px;
  width: 100%;
}

.icon {
  width: 35px;
  height: 35px;
  background: slateblue;
  margin: 0 auto;
}

.qna {
  display: flex;
  padding: 14px 14px 5px;
}
.icon-side {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: slateblue;
  padding-right: 3rem;
}
.text {
}

.visual__content {
  flex-basis: 50%;
  max-width: 50%;
}

.longTest {
  height: 3000px;
  width: 100%;
  background: skyblue;
}
