.section__more {
  width: 990px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.card__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.card {
  width: 485px;
  height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  background-color: #0d3139;
}
.card__info {
  padding: 80px 54px 20px;
  color: #fff;
  font-size: 24px;
  word-break: keep-all;
}
.card__info .light-green {
  color: #b8ff68;
}

.section__visual {
  width: 100%;
  max-width: 980px;
  height: 100%;
  background: beige;
  display: flex;
  margin: 0 auto;
}
.visual__image {
  flex-basis: 50%;
  max-width: 50%;
  height: 100%;
  position: sticky;
  top: 0;
  background: tomato;
  text-align: center;
}

.services {
  padding: 40px 0 0;
  display: flex;
  /* width: 100%; */
  width: 490px;
}

.service {
  flex-basis: 50%;
  flex: 1;
  text-align: center;
  margin: 14px 0 26px;
  width: 100%;
}

.icon {
  width: 35px;
  height: 35px;
  background: slateblue;
  margin: 0 auto;
}

.qna {
  display: flex;
  padding: 14px 14px 5px;
}
.icon-side {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: slateblue;
  padding-right: 3rem;
}
.text {
}

.visual__content {
  flex-basis: 50%;
  max-width: 50%;
}

.longTest {
  height: 3000px;
  width: 100%;
  background: skyblue;
}

/* ------------------------------- */
/* 메인 컨텐츠 */
/* 초기화 */
.content__section {
  width: 100%;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
.divide {
  border: 1px solid lightgray;
  opacity: 0.5;
}

/* h3 */
.sub__header {
  font-size: 16px;
}

/* summary */
.summary {
  margin-bottom: 40px;
}
.summary .new {
  color: brown;
}
.summary .main__header {
  font-size: 40px;
  margin: 10px 0 10px 0;
}
.summary .summary__small {
  font-size: 12px;
  margin: 10px 0;
}
.summary .know {
  display: block;
  margin: 10px 0;
}

/* model select */
.select__model--text {
  font-weight: bold;
}
.small__link {
  display: block;
  font-size: 12px;
  margin: 15px 0;
}
.select__model--detail .select__model--box {
  background-color: white;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
  display: flex;
  text-align: left;
  padding: 20px 10px;
  margin: 10px 0;
}

.select__model--detail .select__model--box .left {
  width: 50%;
}
.select__model--detail .select__model--box .left h3{
  margin: 0;
}
.select__model--detail .select__model--box .right {
  width: 50%;
  align-self: center;
  text-align: right;
}
.select__model--detail .select__model--box .price {
  font-size: 18px;
}

/* 박스 */
.select__model--color {
  /* display: flex; */
  /* justify-content: space-between;
  align-content: space-around;
  row-gap: 10px;
  column-gap: 20px; */
}
.content__box {
  width: 49%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  height: 100px;
}
.circle__color {
  width:30px;
  height: 30px;
  background-color: gray;
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* 추가 정보 */

/* 메인컨텐츠 끝 */
/* ------------------------------- */